body {
  font-family: "Lato", serif;
  background-image: linear-gradient(to right, rgba(11, 226, 3, 0), rgb(144, 159, 190));
}

.blue {
  color: #092149;
}

.heading {
  font-size: 4vw;
}

.scoreTitle {
  font-size: 2.2vw;
}

.inputTitle{
  font-size: 2.6vw;
}
.bgGrey {
  background-color: rgb(167, 169, 170);
}

.mainTitle {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 1vh;
}

.mainContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 2vh;
}

.scoreContainer {
  /* padding: 15px; */
  width: 25vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* height: 60vh; */
  margin-left: 10vw;
  border-radius: 30px 30px 30px 30px;
}

.titleContainer {
  display: flex;
  align-items: center;
  padding: 15px;
}

h2 {
  margin: 0;
}

.refreshButton {
  margin-left: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 6px 14px;
  border-radius: 6px;
   border: none;
  font-size: 1.1vw;
   background: #6E6D70;
   box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
   color: #DFDEDF;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   
}

.refreshButton:hover {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.scoreList {
  font-size: 1.5vw;
  margin-top: 0;
  /* padding-left: 1.1vw; */
  /* background-color: #f5f7fa; */
}

li {
  background-color: #adc2e9;
  margin: 10px;
  margin-left: 2vw;
  margin-right: 2vw;
  padding-left: 30px;
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid transparent;
  cursor: pointer;
}

li:hover {
  /* background-color: #214588; */
  border: 1px solid white;
}

.scoreInput {
  margin-right: 10vw;
}

.inputForm {
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  padding: 0;
  /* margin: 0; */
}

.inputForm input {
  margin-top: 2vh;
}

.formButton {
  margin-top: 2vh;
  width: 5vw;
  height: 3vh;
  font-size: 1vw;
  margin-left: auto;
}
