body {
  font-family: "Lato", serif;
  background-image: linear-gradient(to right, rgba(11, 226, 3, 0), rgb(144, 159, 190));
}

.blue {
  color: #092149;
}

.heading {
  font-size: 4vw;
}

.scoreTitle {
  font-size: 2.2vw;
}

.bgGrey {
  background-color: rgb(167, 169, 170);
}

.mainTitle {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 1vh;
}

.mainContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 2vh;
}

.scoreContainer {
  width: 25vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 10vw;
  border-radius: 30px 30px 30px 30px;
}

.titleContainer {
  display: flex;
  align-items: center;
  padding: 15px;
}

h2 {
  margin: 0;
}

.refreshButton {
  margin-top: 2vh;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  border-radius: 6px;
  font-size: 1.1vw;
  background: #6e6d70;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #dfdedf;
  border: 1px solid transparent;
}

.refreshButton:hover {
  outline: 0;
  border: 1px solid white;
}

.scoreList {
  font-size: 1.5vw;
  margin-top: 0;
}

li {
  background-color: #adc2e9;
  margin: 10px;
  margin-left: 2vw;
  margin-right: 2vw;
  padding-left: 30px;
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid transparent;
  cursor: pointer;
}

li:hover {
  border: 1px solid white;
}

.scoreInput {
  margin-right: 10vw;
  width: 25vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 30px 30px 30px 30px;
}

.inputTitleContainer {
  padding: 15px;
  text-align: center;
}

.inputTitle {
  font-size: 2.2vw;
}

.inputForm {
  display: flex;
  flex-direction: column;
  padding: 2vw;
}

ul {
  list-style: none;
  padding: 0;
}

.inputForm input {
  margin-top: 2vh;
  height: 4vh;
  border-radius: 20px;
  border: 0;
  padding: 3px;
  padding-left: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #d2d7e2;
}

.formButton {
  margin-top: 2vh;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  border-radius: 6px;
  font-size: 1.1vw;
  background: #6e6d70;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #dfdedf;
  border: 1px solid transparent;
}

.formButton:hover {
  outline: 0;
  border: 1px solid white;
}
